*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Flexo;
  font-weight: thin;
  src: url("Flexo/Flexo-Thin.otf") format("opentype");
}
body {
  font-family: Flexo;
  margin: 0 auto;
}
h1{
  font-family: "Flexo";
  color:#e84848;
}

.container-pokemon.col{
    margin: 2%;
    background-color: #EFEFEF;
    height: 275px;
    position: relative;
    padding: 0;
}
.img-pokemon{
    margin-top: 15%;
    width: 100%;
}
.div-icon {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 60px solid #fff;
}
